// Font Family

$font-family--title: 'Catamaran', Helvetica, Arial, sans-serif;
$font-family--text: 'Montserrat', Helvetica, Arial, sans-serif;

// Font Weight

$font-weight--title: 900;
$font-weight--text: 500;

// Font color

$color--font-default: #6200EE;